@import "./styles/root.css";
@import "./styles/foundry.css";
@import "./styles/components.css";
@import "./styles/item/backpack.css";
@import "./styles/item/theme.css";
@import "./styles/item/threat.css";
@import "./styles/actor/challenge.css";
@import "./styles/actor/character.css";
@import "./styles/apps/loot-dialog.css";
@import "./styles/apps/name-generator.css";
@import "./styles/apps/roll-dialog.css";
@import "./styles/apps/sidebar-buttons.css";
@import "./styles/apps/story-tags.css";
@import "./styles/apps/story-themes.css";
@import "./styles/apps/text-editor.css";
@import "./styles/apps/improvement-selector.css";
@import "./styles/chat/message.css";
@import "./styles/popout.css";
@import "./styles/dark.css";

#pause.paused {
    display: flex;
    top: calc(86vh - 100px);
    animation: pulse 3s ease-in-out infinite;
}

@font-face {
    font-family: "Goudy Text";
    src: url("/systems/foundryvtt-litm/assets/fonts/goudy-text.otf") format("opentype");
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Cloister Black";
    src: url("/systems/foundryvtt-litm/assets/fonts/cloister-black.ttf") format("truetype");
    font-weight: 400;
    font-weight: normal;
    font-style: normal;
}
