<li>
	<label 
		class="litm--roll-dialog-tag litm--{{tag.type}}"
		data-click="toggle-state"
		data-level="{{tag.level}}"
		for="input-{{tag.id}}">
		<span class="litm--sro">{{localize "Litm.ui.select"}}</span>
		<litm-super-checkbox name="{{tag.id}}" id="input-{{tag.id}}" value="{{tag.state}}" data-type="{{tag.type}}"
			states="{{tag.states}}"></litm-super-checkbox>
        {{#if (eq tag.level 'greatness')}}
            <i class="litm--greatness-icon"></i>
        {{else}}
            {{#if (eq tag.level 'adventure')}}
                <i class="litm--adventure-icon"></i>
            {{/if}}
        {{/if}}
		<span>{{tag.name}}{{ifThen tag.value (concat "-" tag.value) ""}}</span>
	</label>
</li>